<nav style="background-color: #0d386f!important;"class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- <a class="navbar-brand" href="#">Indicadores Económicos</a> -->
    <a class="navbar-brand" [routerLink]="['/home']" [routerLinkActive]="['activo']">Indicadores Económicos</a>

    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/detalle']" [routerLinkActive]="['activo']">Detalle</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>


    <footer id="sticky-footer" class="footer py-4 text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; ProyectoBice</small>
      </div>
    </footer>




