<div class=contenedor>
<h1 class="titulo">ULTIMOS REGISTROS</h1>

<div [ngSwitch]="error">
    <div *ngSwitchCase="'OK'">
        <!--COBRE-->
        <div class="border caja">
            <div class="caja_interior">
                <p><strong>Indicador: </strong> <span class="text_green">{{indicadores.cobre.key |uppercase}}</span> </p>
                <p><strong>Fecha: </strong> <span class="text_green">{{indicadores.cobre.date | conversor}}</span></p>
                <p><strong>Unidad: </strong> <span class="text_green">{{indicadores.cobre.unit}}/libra</span></p>
                <p><strong>Valor: </strong> <span class="text_green">{{indicadores.cobre.value | number:'1.0-2'}}</span></p>
            </div>
            <div>
                <img class="imagen_ind" src="../../assets/img/img_cobre.png">
            </div>
        </div>

        <!--DOLAR-->
        <div class="border caja">
            <div class="caja_interior">
                <p><strong>Indicador: </strong> <span class="text_green">{{indicadores.dolar.key |uppercase}}</span> </p>
                <p><strong>Fecha: </strong> <span class="text_green">{{indicadores.dolar.date | conversor}}</span></p>
                <p><strong>Unidad: </strong> <span class="text_green">{{indicadores.dolar.unit}}</span></p>
                <p><strong>Valor: </strong> <span class="text_green">{{indicadores.dolar.value | number:'1.0-2'}}</span></p>
            </div>
            <div>
                <img class="imagen_ind" src="../../assets/img/img_dinero.png">
            </div>
        </div>

            <!--EURO-->
        <div class="border caja">
            <div class="caja_interior">
                <p><strong>Indicador: </strong> <span class="text_green">{{indicadores.euro.key |uppercase}}</span> </p>
                <p><strong>Fecha: </strong> <span class="text_green">{{indicadores.euro.date | conversor}}</span></p>
                <p><strong>Unidad: </strong> <span class="text_green">{{indicadores.euro.unit}}</span></p>
                <p><strong>Valor: </strong> <span class="text_green">{{indicadores.euro.value | number:'1.0-2'}}</span></p>
            </div>
            <div>
                <img class="imagen_ind" src="../../assets/img/img_dinero.png">
            </div>
        </div>

            <!--IPC-->
        <div class="border caja">
            <div class="caja_interior">
                <p><strong>Indicador: </strong> <span class="text_green">{{indicadores.ipc.key |uppercase}}</span> </p>
                <p><strong>Fecha: </strong> <span class="text_green">{{indicadores.ipc.date | conversor}}</span></p>
                <p><strong>Unidad: </strong> <span class="text_green">{{indicadores.ipc.unit}}</span></p>
                <p><strong>Valor: </strong> <span class="text_green">{{indicadores.ipc.value | number:'1.0-2'}}</span></p>
            </div>
            <div>
                <img class="imagen_ind" src="../../assets/img/img_ind.png">
            </div>
        </div>

            <!--ORO-->
        <div class="border caja">
            <div class="caja_interior">
                <p><strong>Indicador: </strong> <span class="text_green">{{indicadores.oro.key |uppercase}}</span> </p>
                <p><strong>Fecha: </strong> <span class="text_green">{{indicadores.oro.date | conversor}}</span></p>
                <p><strong>Unidad: </strong> <span class="text_green">{{indicadores.oro.unit}}/onza</span></p>
                <p><strong>Valor: </strong> <span class="text_green">{{indicadores.oro.value | number:'1.0-2'}}</span></p>
            </div>
            <div>
                <img class="imagen_ind" src="../../assets/img/img_oro.png">
            </div>
        </div>

            <!--PLATA-->
        <div class="border caja">
            <div class="caja_interior">
                <p><strong>Indicador: </strong> <span class="text_green">{{indicadores.plata.key |uppercase}}</span> </p>
                <p><strong>Fecha: </strong> <span class="text_green">{{indicadores.plata.date | conversor}}</span></p>
                <p><strong>Unidad: </strong> <span class="text_green">{{indicadores.plata.unit}}/onza</span></p>
                <p><strong>Valor: </strong> <span class="text_green">{{indicadores.plata.value | number:'1.0-2'}}</span></p>
            </div>
            <div>
                <img class="imagen_ind" src="../../assets/img/img_plata.png">
            </div>
        </div>

            <!--UF-->
        <div class="border caja">
            <div class="caja_interior">
                <p><strong>Indicador: </strong> <span class="text_green">{{indicadores.uf.key |uppercase}}</span> </p>
                <p><strong>Fecha: </strong> <span class="text_green">{{indicadores.uf.date | conversor}}</span></p>
                <p><strong>Unidad: </strong> <span class="text_green">{{indicadores.uf.unit}}</span></p>
                <p><strong>Valor: </strong> <span class="text_green">{{indicadores.uf.value | number:'1.0-2'}}</span></p>
            </div>
            <div>
                <img class="imagen_ind" src="../../assets/img/img_ind.png">
            </div>
        </div>

            <!--UTM-->
        <div class="border caja">
            <div class="caja_interior">
                <p><strong>Indicador: </strong> <span class="text_green">{{indicadores.utm.key |uppercase}}</span> </p>
                <p><strong>Fecha: </strong> <span class="text_green">{{indicadores.utm.date | conversor}}</span></p>
                <p><strong>Unidad: </strong> <span class="text_green">{{indicadores.utm.unit}}</span></p>
                <p><strong>Valor: </strong> <span class="text_green">{{indicadores.utm.value | number:'1.0-2'}}</span></p>
            </div>
            <div>
                <img class="imagen_ind" src="../../assets/img/img_ind.png">
            </div>
        </div>

    </div>


    <div *ngSwitchCase="'NOK'">
        <div class = "border caja cajaError">
            <p class = "textError">Problemas al obtener la información. Favor intentar mas tarde.</p>
        </div>
    </div> 

</div>

</div>


