.tabla{
    width: 35%;
    margin: 2%;
}

.inactivo{
    background: #dee2e699;
    color:#0d386f;
}

.buscar{
    float: right;
    margin: 10%;
}

.btnSearch{
    background-color:#75AD0F!important;
    border-color:#75AD0F!important;
}

.cajaSearch{
    background-color:#dee2e63d;
}

.maxMin{
    margin: 3%;
    margin-right: 68%;
    margin-left: 2%;
    width: 35%;
}

.maxMinInt{
    margin: 4%;
}