<div class=contenedor>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a id="Cobre" href="#" class="nav-link active" onclick="active(this.id);return false;" (click)="obtenerDetalle('/cobre')">COBRE</a>
        </li>
        <li class="nav-item">
          <a id="Dolar" href="#" class="nav-link inactivo"  onclick="active(this.id);return false;" (click)="obtenerDetalle('/dolar')">DOLAR</a>
        </li>
        <li class="nav-item">
          <a id="Euro"  href="#" class="nav-link inactivo"  onclick="active(this.id);return false;" (click)="obtenerDetalle('/euro')">EURO</a>
        </li>
        <li class="nav-item">
            <a id="Ipc"  href="#" class="nav-link inactivo"  onclick="active(this.id);return false;" (click)="obtenerDetalle('/ipc')">IPC</a>
        </li>
        <li class="nav-item">
            <a id="Oro"  href="#" class="nav-link inactivo"  onclick="active(this.id);return false;" (click)="obtenerDetalle('/oro')">ORO</a>
        </li>
        <li class="nav-item">
            <a id="Plata" href="#" class="nav-link inactivo"  onclick="active(this.id);return false;" (click)="obtenerDetalle('/plata')">PLATA</a>
        </li>
        <li class="nav-item">
            <a id="Uf" href="#" class="nav-link inactivo"  onclick="active(this.id);return false;" (click)="obtenerDetalle('/uf')">UF</a>
        </li>
        <li class="nav-item">
            <a id="Utm"  href="#" class="nav-link inactivo"  onclick="active(this.id);return false;" (click)="obtenerDetalle('/utm')">UTM</a>
        </li>

        <li class="nav-item">
        </li>
      </ul>
</div>

<div [ngSwitch]="error">

<div *ngSwitchCase="'OK'">

    <div class="buscar">
        <div>
            <form class="form-inline" #formSearch="ngForm" (ngSubmit)="onSubmit(); formSearch.reset();">
                <input class="form-control mr-sm-2 cajaSearch" type="text" name="fecha" [(ngModel)]="fecha" required pattern="[0-9]" placeholder="Ej: 18/03/2020" >
                <button class="btn btn-success btnSearch" type="submit">Buscar</button>
            </form>

            <p class="msjError">{{msError}}</p>
        
            <div class="">
                <div class="border cajaSearch">
                    <p><strong>Indicador: </strong> <span class="text_green">{{valorFecha.nombre |uppercase}}</span> </p>
                    <p><strong>Fecha: </strong> <span class="text_green">{{valorFecha.fecha | conversor}}</span></p>
                    <p><strong>Unidad: </strong> <span class="text_green">{{valorFecha.unidad |uppercase}}</span></p>
                    <p><strong>Valor: </strong> <span class="text_green">{{valorFecha.valor}}</span></p>
                </div>
            </div>
        </div>  
    </div>

        <h1 class="titulo">DETALLE ({{indice |uppercase}})</h1>
        
        <div class="border maxMin cajaSearch">
            <div class="maxMinInt">
            <p><strong>Valor Maximo({{unidad}}) : </strong><span class="text_green">{{maxValor | number:'1.0-2'}} ({{maxFecha |conversor}})</span></p>
            <p><strong>Valor Minimo({{unidad}}) : </strong><span class="text_green">{{minValor | number:'1.0-2'}} ({{minFecha |conversor}})</span></p>
            </div>
        </div>

        <div class=" border tabla">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text_blue">Fecha</th>
                    <th class="text_blue">Valor({{unidad}})</th>
                </tr>
                </thead>
                <tbody *ngFor="let valor of valores;let i=index">
                <tr>
                    <td>{{valor.fecha | conversor}}</td>
                    <td>{{valor.valor | number:'1.0-2'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div *ngSwitchCase="'NOK'">
        <div class = "border caja cajaError">
            <p class = "textError">Problemas al obtener la información. Favor intentar mas tarde.</p>
        </div>
    </div>  

</div>
</div>
