/* You can add global styles to this file, and also import other style files */

.titulo{
    margin: 2%;
    margin-top: 3%;
    color: #0d386f;
}

strong{
    color:hsl(214, 79%, 24%);
}

.text_green
{
    color:#75AD0F;
}

.text_blue
{
    color:#0d386f;
}

.caja { 
    float:left;
    margin:1%;
    width: 26%;
    background: #f3f3f3;
}

.caja_interior{
    margin:10%;
    float: left;
}

.contenedor{
    width:80%; 
}


.imagen_ind{
    width: 22%;
}

.msjError{
    color: red;
}

.footer{
    margin-top: 61%; 
    background-color: #0d386f!important;
}

.cajaError{
    width: 54%;
}

.textError{
    color:red;
    margin: 5%;
}